<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="dbconnection" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=testDB;Integrated Security=true"/>
</appSettings>
</configuration>
